streamlit
streamlit-folium
streamlit-geolocation
streamlit-js-eval
streamlit_mic_recorder

folium
branca
xyzservices

requests
pandas
numpy
Pillow

GitPython
python-dotenv

openai
groq

langchain
langchain-community
langchain-core
langgraph

pydub
SpeechRecognition

reportlab

scikit-learn

opencv-python

matplotlib

ddgs
beautifulsoup4
lxml
